#ignore data files created by qcodes
data/

#ignore pycharm setup
/.idea/
/.idea/workspace.xml
*/.idea/workspace.xml
**/.idea/workspace.xml
**/.idea/tasks.xml

#ignore test file
dummies.py

#ignore InstrumentData.py, this file is different for every computer
InstrumentData.py

#created by qcodes
experiments.db